body {
  margin: 0px;
  font-size: 16px;
  line-height: 15px;
}

#app {
  padding-top: 55px;
}

.centerStandalone {
  display: flex;
  margin-top: 175px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 25px;
}
