body {
  margin: 0px;
  font-size: 16px;
  line-height: 15px;
}

#app {
  padding-top: 55px;
}

.centerStandalone {
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

option {
  background-color: white;
}
