#readingContainer {
  display: block;
  position: relative;
  padding-left: 55px;
  padding-top: 55px;
}

#catalog {
  display: block;
  float: right;
  width: 83%;
}

#dropdown-container {
  display: flex;
  justify-content: center;
}
