#flatNav {
  width: 66.67%;
  text-align: right;
  float: right;
  line-height: 55px;
  white-space: nowrap;
}

.navlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: inline-block;
  margin-right: 24px;
}
